body {
  background: #ececec;
}

.adjust {
  display: inline-block;
  margin: 25px;
}

.btn {
  $size: 80px;

  border-radius: 50%;
  width: $size; height: $size;
  cursor: pointer;
  user-select: none;

  .hole {
    position: relative;
    border-radius: 50%;
    width: $size; height: $size;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  }

  .inner {
    position: relative;
    border-radius: 50%;
    width: $size; height: $size;
    color: rgba(255, 255, 255, .9);
    font: 20px "AvenirNext-Heavy" bold;
    line-height: $size;
    text-align: center;
    cursor: pointer;
    transition: opacity .6s ease;
    pointer-events: none;
    overflow: hidden;

    &:after {
      display: block;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      content: "";
      background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    }
  }

  &.push {
    .hole {
      top: 4px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .25) inset;
      overflow: hidden;
    }

    .inner {
      &:after {
        background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
      }
    }
  }

  &.red .inner {
    background: #F50057;
    box-shadow: 0 2px 0 #880E4F;
  }

  &.blue .inner {
    background: #00B0FF;
    box-shadow: 0 2px 0 #01579B;
  }

  &.green .inner {
    background: #00E676;
    box-shadow: 0 2px 0 #1B5E20;
  }
}

.sa.btn{
    position: absolute;
    top: 30%;
    left: 25%;
    margin-left: -40px;
    margin-top: -40px;
}

.si.btn{
    position: absolute;
    top: 55%;
    left: 37.5%;
    margin-left: -40px;
    margin-top: -40px;
}

.su.btn{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
}

.se.btn{
    position: absolute;
    top: 55%;
    left: 62.5%;
    margin-left: -40px;
    margin-top: -40px;
}

.so.btn{
    position: absolute;
    top: 30%;
    left: 75%;
    margin-left: -40px;
    margin-top: -40px;
}

.logo{
    position: absolute;
    top:75%;
    left:50%;
    margin-left: -200px;
}
